<div class="current-article">

</div>

<% if @nyt_home_articles %>
  <% @nyt_home_articles.each do |article| %>
    <h4><%= article['title'] %> | <%= article['section'] %></h4>
    <h6><%= article['byline'] %></h6>
    <h5><%= article['published_date'].to_date.strftime("%d %B %Y") %></h5>
    <% if article['multimedia'][2] %>
      <%= image_tag(article['multimedia'][2]['url']) %>
      <h5><%= article['multimedia'][2]['caption'] %></h5>
    <% end %>
    <p><%= link_to 'View', show_article_path(article: article), remote: true %></p>
    <p><%= link_to 'Original', article['url'] %></p>
  <% end %>
<% end %>
<% if @top_guardian_headlines %>
<!-- Guardian Top 10 Stories section -->
<!-- <%# @top_guardian_headlines %> -->
<% end %>
