<!-- Refactor -->
<div class="row dashboard-box">
  <p>Content: <%= generated_content[:content_type] %></p>
  <% if generated_content[:source] == 'NewYork' %>
    <% generated_content[:content].in_groups_of(3, false).each do |articles| %>
      <div class="row">
        <% articles.each do |article| %>
          <div class="dashboard-sub-box col-md-4 col-sm-6">
            <h5><%= article['title'] %> | <%= article['section'] %></h5>
            <h6><%= article['byline'] %></h6>
            <h5><%= article['published_date'].to_date.strftime("%d %B %Y") %></h5>
            <% if article['multimedia'][2] %>
              <%= image_tag(article['multimedia'][2]['url']) %>
              <h5><%= article['multimedia'][2]['caption'] %></h5>
            <% end %>
            <p><%= link_to 'Read More', article['url'] %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
