<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Business Search', businesses_path %></li>
  <li><%= link_to 'Congressional Report', congressional_report_path %></li>
  <li><%= link_to 'Conversations', conversations_path %></li>
  <li><%= link_to 'Dashboard', dashboard_path(current_user.dashboard) %></li>
</ul>
